.item {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check {
    cursor: pointer;
    outline: 0;
}

.desc {
    width: 80%;
    margin: auto;
}

