.item {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="checkbox"] {
    cursor: pointer;
}

.desc {
    width: 80%;
    margin: auto;
}
