.title {
    display: grid;
    grid-template-columns: 77% 23%;
    align-items: center;

    margin-bottom: 0.5rem;
}

.title-text {
    word-break: break-word;
    font-size: 2rem;
    margin-top: 5px;
}

.title-btns {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: end;
}

.edit-icon {
    transition: 0.1s;
    transform: scale(0.8);

    &:hover {
        transform: scale(0.95);
        cursor: pointer;
    }
}

.title-btns-wrapper {
    transition: 0.1s;

    &:hover {
        transform: scale(1.23);
    }
}

.dropdown-icon-up {
    transition: 0.3s;

    &:hover {
        cursor: pointer;
    }
}

.dropdown-icon-down {
    transition: 0.3s;
    transform: rotate(-180deg);

    &:hover {
        cursor: pointer;
    }
}
