@import "node_modules/nord/src/sass/nord.scss";

.header {
    top: 0;

    display: grid;
    grid-template-columns: 30% 70%;

    background-color: #152026;
    color: #d8dee9;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

    input[type='email'], input[type='password'] {
        border: 0;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}

.header-container {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &.left {
        margin-left: auto;
    }
}

@media (max-device-width: 415px), (max-width: 900px) {
    .header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2rem;
        grid-gap: 0.5rem;
        justify-content: center;
    }

    .header-container {
        margin:auto;
    }

    .home-btn {
        width: 200px;
        margin: auto;
    }
}
