@import "node_modules/nord/src/sass/nord.scss";

.header {
    position: fixed;

    top: 0;
    right: 0;

    background-color: #152026;
    color: #d8dee9;

    display: flex;
    flex-direction: row;

    border-radius: 0 0 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.header-container {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-btn {
    margin-left: 7px;
    margin-right: 7px;
    width: 5rem;
}
