.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;

    width: 100%;
    bottom: 0;
    left: 0;

    padding-top: 9px;
    padding-bottom: 9px;

    background-color: #152026;
    color: #d8dee9;

    position: fixed;

    img {
        transition: 0.4s;
        &:hover {
            cursor: pointer;
        }
    }
}

.logo-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    .logo-left {
        margin-right: 5%;
        display: grid;
        justify-items: end;
    }

    .logo-right {
        margin-left: 5%;
    }
}

.github-logo {
    width: 50px;
    height: 50px;

    &:hover {
        transform: rotate(360deg);
    }
}

.mail-logo {
    height: 32px;
    width: 50px;

    &:hover {
        transform: rotateY(180deg);
    }
}
