img:hover {
    cursor: pointer;
}

.footer {
    width: 100%;
    bottom: 0;
    padding-top: 9px;
    padding-bottom: 4px;

    background-color: #152026;
    color: #d8dee9;

    display: flex;
    position: fixed;
}

.logo-container {
    margin: auto;
}

.signature {
    margin: auto;
}

.github-logo {
    margin-left: 15px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.mail-logo {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7px;
    height: 32px;
    width: 50px;
}
