.input-field {
    height: 1.8rem;
}

.center-btn-div {
    display: flex;
}

.signin-btn {
    width: 6rem;
    margin: auto;
}

.info-text {
    color: rgba(0, 0, 0, 0.35);
    margin: 10px;
    text-align: center;
}
