ul {
    background-color: #FFFFFF;
    border-radius: 3px;
    list-style-type: none;
    padding-left: 0;
}

li {
    display: flex;
    border-radius: 3px;
    transition: 0.2s;
    padding: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:hover {
        background-color: #ABABABAB;
    }
}

label {
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}


.add-list {

    &:hover {
        cursor: pointer;
    }
}

.add-icon {
    margin: auto;
}

.list-delete {
    float: right;
    transition: 0.2s;
    padding-top: 3px;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.dd-wrapper {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.dd-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
        cursor: pointer;
    }
}

.dd-header-title {
    font-size: 2rem;
}
