@import 'node_modules/nord/src/sass/nord.scss';

.ls-wrapper {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* NOTE: not in use atm, may be tweaked for different dropdown animation */
.react-slidedown {

}
