@import 'node_modules/nord/src/sass/nord.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito:800&display=swap');

$font-stack: 'Nunito';

body {
    font-family: $font-stack;
    font-weight: bold;

    background-color: $nord0;
}

h1 {
    font-size: 2.3rem;
}

button {
    transition: 0.3s;

    background-color: #d77a61;
    color: #844b3b;

    font-weight: bold;

    height: 1.8rem;
    width: 35px;

    border: none;
    border-radius: 0.3rem;

    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        transform: matrix3d(10);
    }

    &:focus::-moz-focus-inner {
        border: none;
    }

    &:active {
        padding: 0px;
        transition: 0.05s;
        transform: scale(1.1);
    }
}
